@import "variables";

.default-selector {
  width: 100%;
  ::v-deep .ant-select-selection {
    padding: 7px;
    height: auto;
    .ant-select-selection__rendered {
      line-height: 1.5;
      font-size: $normal-text-size;
      color: $default-color;
    }
  }

  ::v-deep .ant-calendar-picker-input {
    padding: 8px;
    height: auto;
    .ant-calendar-picker {
      line-height: 1.5;
      font-size: $normal-text-size;
      color: $default-color;
    }
  }
}
